**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
x=input("Enter your string : ")
print(f"First way : {len(x)}")

Enter your string : mina
First way : 4

In [2]:
num=0
for i in x :
    num+=1
print(f"Second way : {num}")

Second way : 4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [5]:
st=input()
length=len(st)
if(length<2):
    print('')
else:
    print(f"{st[:2]}{st[-2:]}")

w

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [8]:
st=input()
if(len(st)<3):
    print(st)
elif(st[-3:]=='ing'):
    print(f"{st}ly")
else:
    print(f"{st}ing")

ab
ab

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [59]:
def longest_word(*words):
    index_of_longest=0
    for i in range(1,len(words)):
        if len(words[index_of_longest])<len(words[i]):
            index_of_longest=i
        
    return words[index_of_longest],len(words[index_of_longest])

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [37]:
x=input()
new_string=x[-1]+x[1:-1]+x[0]
new_string

abcde

'ebcda'

In [36]:
x=input()
def exchange1(string):
    new_string=''
    for i in range(len(string)):
        if i==0 :
            new_string+=string[-1]
        elif i==len(string)-1:
            new_string+=x[0]
        else:
            new_string+=string[i]
    return new_string
exchange1(x)

abcde

'ebcda'

In [35]:
#Third way
x=input()
def exchange2(string):
    li=list(string)
    end=li[-1]
    li[-1]=li[0]
    li[0]=end
    new_string=''.join(li)
    return new_string
exchange2(x)

abcde

'ebcda'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [7]:
x=input()
def remove_char(string):
    new_string=''
    for i in range(len(string)):
        if i%2==1:
            continue
        new_string+=string[i]
    return new_string

abca

'ac'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [3]:
x=input()
def count_plus(string):
    li=set(string.split())
    dictionary=dict()
    for i in li:
        dictionary[i]=string.count(i)
    return dictionary
    
count_plus(x)

amr and ahmed are frindes but amr is the tallest

{'but': 1,
 'tallest': 1,
 'and': 1,
 'ahmed': 1,
 'amr': 2,
 'frindes': 1,
 'is': 1,
 'are': 1,
 'the': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [40]:
x=input()
def new_print(string):
    print(string.upper())
    print(string.lower())
new_print(x)

MiNa
MINA
mina

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_func(string):
    if len(string)%4==0:
        string=string[::-1]
    return string

**10- Write a Python program to remove a newline in Python

In [42]:
def remove_n1(string):
    string=string.replace("\n"," ")
    return string

In [41]:
#Second way
def remove_n2(string):
    li=string.splitlines()
    return " ".join(li)

**11-Write a Python program to check whether a string starts with specified characters

In [30]:
def start_with(string,char):
    if string[0]==char:
        print("True")

x=input("What is your string : ")
ch=input("what is the char : ")
start_with(x,ch)

What is your string : Mina
what is the char : M
True

In [32]:
x=input("What is your string : ")
ch=input("what is the char : ")
if x.startswith(ch):
    print("True")

What is your string : Mina
what is the char : M
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def prefix_text(main_string,prefix_string):
    li=main_string.splitlines()
    li[0]=prefix_string + " "+li[0]
    prefix_string="\n"+prefix_string+" "
    new_string=prefix_string.join(li)
    return new_string

**13-Write a Python program to print the following numbers up to 2 decimal places

In [45]:
def print_nums(nums):
    for i in range(len(nums)):
        nums[i]="{:.2F}".format(nums[i])
        print(nums[i])

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
def print_nums2(nums):
    for i in range(len(nums)):
        nums[i]="{:+.2F}".format(nums[i])
        print(nums[i])

**15-Write a Python program to display a number with a comma separator

In [53]:
num=int(input())
"{:,}".format(num)

241441526

'241,441,526'

**16-Write a Python program to reverse a string using 2 ways

In [4]:
def reverse1(string):
    string=string[::-1]
    return string
reverse1("Instant")

'tnatsnI'

In [11]:
def reverse2(string):
    li=list(string)
    li.reverse()
    string="".join(li)
    return string
reverse2("Instant")

'tnatsnI'

In [12]:
def reverse3(string):
    new_string=''
    for i in range(1,len(string)+1) :
        new_string+=string[len(string)-i]
    return new_string
reverse3("Instant")

'tnatsnI'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [6]:
def count_char(string):
    se=set(list(string))
    dictionary=dict()
    for i in se:
        dictionary[i]=string.count(i)
    return dictionary
count_char("Instant")

{'s': 1, 'I': 1, 'n': 2, 'a': 1, 't': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [8]:
def non_repeating(string):
    for i in string:
        if string.count(i)==1 : 
            print(i)
            break
non_repeating("EELU")

L

**19-Write a Python program to remove spaces from a given string

In [9]:
def without_spaces(string):
    li=string.split()
    string=''.join(li)
    return string
without_spaces("I  n s t    a n t")

'Instant'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [11]:
def count_subs(string):
    l=len(string)
    return (l*(l+1)/2)
count_subs("In")

3.0

**21-write a Python program to swap first and last element of any list.

In [13]:
def swap_first_end(li):
    end=li[-1]
    li[-1]=li[0]
    li[0]=end
    return li
swap_first_end(["Instant","Dibloma","AI"])

['AI', 'Dibloma', 'Instant']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [21]:
def swapping(li,pos1,pos2):
    first=li[pos1-1]
    li[pos1-1]=li[pos2-1]
    li[pos2-1]=first
    return li 
swapping([23, 65, 19, 90],1,3)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [2]:
li=list((1,2,3,4,5,6))
print(len(li))

6

In [3]:
def get_length(li):
    c=0
    for i in li:
        c+=1
    return c
get_length(li)

6

In [4]:
print(li.__len__())

6

In [7]:
from operator import length_hint
length_hint(li)

6

**24-write a Python code to find the Maximum number of list of numbers.

In [41]:
max(list(map(int,input().split())))

1 2 3 4 45 6

45

**25-write a Python code to find the Minimum number of list of numbers.

In [42]:
min(list(map(int,input().split())))

1 2

1

**26-search for if an element is existing in list

In [33]:
def find_element1(li,element):
    try :
        li.index(element)
    except ValueError:
        print('not found')
    else :
        print("found")
find_element1([1,2,4,5,6,7,8],7)

found

In [37]:
def find_element2(li,element):
    if element in li :
        print("found")
    else:
        print("not found")

find_element2([1,2,4,5,6,7,8],9)

not found

**27- clear python list using different ways

In [52]:
def clear1(li):
    while(li):
        del li[0]
    return li

clear1([1,2,3,4,5,6])

[]

In [56]:
li=[1,101,54,1515,1,1,1]
li.clear()
print(li)

[]

**28-remove duplicated elements from a list

In [62]:
def remove_duplicate(li):
    for i in li :
        for j in range(li.count(i)-1):
            li.remove(i)
    return li
li=[1,1,5,1,6,7,8,7,8,9]
remove_duplicate(li)

[5, 1, 6, 7, 8, 9]

In [63]:
li=[1,1,5,1,6,7,8,7,8,9]
li=list(set(li))
li

[1, 5, 6, 7, 8, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [2]:
def to_dictionary(keys,values):
    j=0
    res=list()
    dictionary=dict()
    for i in range(len(values)):
        dictionary[keys[j]]=values[i]
        
        if (i+1)%len(keys)==0:
            j=0
            res.append(dictionary)
            dictionary={}
            continue
        j+=1
    return res

to_dictionary(["name", "id"],["Gfg", 3, "is", 8])

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [7]:
def count_unique(li):
    c = [i for i in set(li) if li.count(i) == 1]
    return len(c)
count_unique(list(map(int,input().split())))

1 2 3 3 4 4 2

1

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [12]:
def extract_elements(li,freq):
    c = [i for i in set(li) if li.count(i)>=freq]
    return c 
extract_elements([4, 6, 4, 3, 3, 4, 3, 4, 3, 8],3)

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [2]:
def strongest_neighbour(li):
    new_li=list()
    for i in range(len(li)-1):
        new_li.append(max(li[i],li[i+1]))
    return new_li
strongest_neighbour([1,2,2,3,4,5])

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [25]:
from itertools import permutations
print(f"Permutation : {list(permutations([1,2,3],3))}")

Permutation : [(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [32]:
from itertools import combinations
def all_combinations(li):
    res=[]
    for i in range(len(li)):
        res+=list(combinations(li,i+1))
    return res

all_combinations(li)

[(1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [44]:
def unique_combinations(l1,l2):
    big_list=[]
    for i in l2:
        small_list=[]
        for j in l1:
            small_list.append(tuple((j,i)))
        big_list.append(small_list)
    return big_list
unique_combinations(['a','b'],[1,2,3])

[[('a', 1), ('b', 1)], [('a', 2), ('b', 2)], [('a', 3), ('b', 3)]]

 **36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [48]:
def remove_element(li,element):
    for i in range(li.count(element)):
        del li[li.index(element)]
    return li
remove_element([1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1],1)

[2, 3, 4, 5, 2]

In [50]:
def remove_element2(li,element):
    while element in li:
        li.remove(element)
    return li
remove_element2([1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1],1)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List
(The original list 1 is : [‘Gfg’, ‘is’, ‘best’] 
The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [51]:
def replace(li1,li2):
    for i in range(len(li2)):
        li2[i]=li1[li2[i]]
    return li2
replace(['Gfg', 'is', 'best'],[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0])

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [53]:
def match(li,k,n):
    for i in li:
        if i.count(k)==n : 
            return i
    return []
match([(4, 5, 5, 4), (5, 4, 3)], 5,  3)

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [58]:
def sort_lists(li):
    for i in range(len(li[0])):
        li=sorted(li,key= lambda x:x[i])
        print(f"Sorted array specific to column {i},{li}")
        
sort_lists([[1, 3, 3],[2, 1, 2], [3, 2, 1]])

Sorted array specific to column 0,[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1,[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2,[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [73]:
def sort_dictionary(dic):
    dic=dict(sorted(dic.items()))
    return dic
sort_dictionary({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : 
test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [85]:
def remove_dic(dic,k):
    new_dic=dic.copy()
    for key,value in dic.items():
        if type(value)==int and value>=k:
            del new_dic[key]
    return new_dic
remove_dic({'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'},7)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic3|=dic2|dic1

In [93]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic2.update(dic3)
dic1.update(dic2)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [1]:
dic={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for key,value in dic.items():
    print(f"value of {key} is {value}")

value of 1 is 10
value of 2 is 20
value of 3 is 30
value of 4 is 40
value of 5 is 50
value of 6 is 60

**44- Write a Python script to merge two Python dictionaries

In [2]:
def merge_dictionaries(dic1,dic2):
    for key,value in dic2.items():
        dic1[key]=value
    return dic1
dic1={1:10, 2:20}
dic2={3:30, 4:40}
merge_dictionaries(dic1,dic2)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [3]:
def max_min(dic):
    print(f"Max = {max(dic.values())}\nMin = {min(dic.values())}")
max_min({1: 10, 2: 20, 3: 30, 4: 40})

Max = 40
Min = 10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [5]:
def remove_null(dic):
    new_dic=dic.copy()
    for key,value in dic.items():
        if value==None : del new_dic[key]
    return new_dic
remove_null({'c1': 'Red', 'c2': 'Green', 'c3': None})

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [7]:
t=(1,2,3,4,5,6)
t[0]

1

**48-Write a Python program to unpack a tuple into several variables

In [37]:
def unpack(t):
    dic={}
    for i in range(len(t)):
        dic[f"name{i+1}"]=t[i]
    return dic
tu=("Mina","Remon","Adel","Tawfik")
unpack(tu)

{'name1': 'Mina', 'name2': 'Remon', 'name3': 'Adel', 'name4': 'Tawfik'}

**49-Write a Python program to add an item to a tuple

In [8]:
def add_to_tuple(t,item):
    t+=(item,)
    return t
add_to_tuple((1,2,3,4),5)

(1, 2, 3, 4, 5)

In [14]:
def add_to_tuple2(t,item):
    t=list(t)
    t.append(item)
    t=tuple(t)
    return t
add_to_tuple2((1,2,3,4),5)

(1, 2, 3, 4, 5)

**50-Write a Python program to convert a tuple to a string

In [19]:
def tuple_to_string(t):
    t=list(t)
    for i in range(len(t)):
        if not t[i]==str:
            t[i]=str(t[i])
    return " ".join(t)
tuple_to_string(("Hello","World",3))

'Hello World 3'

**51-Write a Python program to convert a list to a tuple

In [20]:
def list_to_tuple(li):
    return tuple(li)
list_to_tuple([1,2,3,4])

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [23]:
def reverse_tuple(t):
    return tuple(sorted(t,reverse=True))
reverse_tuple((1,2,3,4))

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [27]:
def replace_end(li,new_num):
    for i in range(len(li)):
        small_li=list(li[i])
        small_li[-1]=new_num
        li[i]=tuple(small_li)
    return li
replace_end([(10, 20, 40), (40, 50, 60), (70, 80, 90)],100)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [28]:
def str_to_tuple(string):
    return tuple(string)
str_to_tuple("pyhton3.0")

('p', 'y', 'h', 't', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [30]:
def calc_avg(t):
    for i in t:
        avg=0
        for j in i:
            avg+=j
        avg/=len(i)
        print(f"the average of tuple{i} is equal {avg}")
calc_avg(((1,2,3),(4,5,69)))

the average of tuple(1, 2, 3) is equal 2.0
the average of tuple(4, 5, 69) is equal 26.0

**56-Write a Python program to add member(s) to a set.

In [31]:
def add_to_set(s,*values):
    values=set(values)
    s.update(values)
    return s
add_to_set({1,2,3},4,5,6)

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [35]:
#we can use discard() and will not raise error if not found
#but to practice I used remove() and handled exceptions 
def remove_from_set(s,item):
    try:
        s.remove(item)
    except KeyError:
        print("Not found")
    else:
        print("Remove succefully")
    finally:
        return s
print(remove_from_set({1,2,3},4))
print(remove_from_set({1,2,3},3))

Not found
{1, 2, 3}
Remove succefully
{1, 2}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [36]:
def operations_on_sets(*sets):
    intersection=s1.intersection(s2)
    union=s1.union(s2)
    difference=s1.difference(s2)
    symmetric_difference=s1.symmetric_difference(s2)
    print(f"Intersection = {intersection}\nUnion = {union}\nDifference = {difference}\nSymmetric difference = {symmetric_difference}")
operations_on_sets({1,2,3,4,5,6,7},{5,6,7,8,9,10,11})

Intersection = {5, 6, 7}
Union = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Difference = {1, 2, 3, 4}
Symmetric difference = {1, 2, 3, 4, 8, 9, 10, 11}

**59-Write a Python program to find the maximum and minimum values in a set

In [94]:
def max_min(se):
    print(f"Max = {max(se)}\nMin = {min(se)}")
max_min((1,2,3,4))

Max = 4
Min = 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [55]:
def get_pairs2(li,res):
    pairs=[]
    while(li):
        i=li[0]
        j=res-i
        if j in li:
            pairs.append((i,j))
            li.remove(j)
        li.remove(i)
    return pairs
li=[2, 1, 5, 7, -1, 4]
get_pairs2(li,6)

#Get only numbers for example from geeksforgeeks

[(2, 4), (1, 5), (7, -1)]

**61- Make do While loop using python

In [58]:
#I will make do while loop for print yes until the input <=3
x=int(input())
flag=False
while(True):
    if (x<=3) and flag:
        break
    print("Yes")
    flag=True
    x-=1

1
Yes

* In the previous code will print yes at least once no matter input like do while